<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669857187929-l00crok09hkplalaurelabfslf8otai9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669857187929-l00crok09hkplalaurelabfslf8otai9</string>
	<key>API_KEY</key>
	<string>AIzaSyDhyEAbrOAZPUnLAbH_h7cfmheiVxs6vFI</string>
	<key>GCM_SENDER_ID</key>
	<string>669857187929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apres.app</string>
	<key>PROJECT_ID</key>
	<string>zoot-27dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>zoot-27dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669857187929:ios:1b264dcf263d12e242c948</string>
	<key>DATABASE_URL</key>
	<string>https://zoot-27dbb.firebaseio.com</string>
</dict>
</plist>